# MQTT
MQTT_TLS_PORT=8883
MQTT_BROKER_PORT=8883
MQTT_USERNAME=device01
MQTT_PASSWORD=change-me

# Device simulation
DEVICE_ID=device01
PUBLISH_INTERVAL_SEC=2
HEARTBEAT_INTERVAL_SEC=10
ALERT_CURRENT_THRESHOLD=15

# InfluxDB bootstrap
INFLUXDB_USERNAME=admin
INFLUXDB_PASSWORD=change-me
INFLUX_ORG=energy-org
INFLUX_BUCKET=energy-bucket
INFLUX_TOKEN=change-me
